@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

html {
  font-size: 62.5%;
}

@keyframes slide-top-to-bottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-bottom-to-top {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-slide-top-to-bottom {
  animation: slide-top-to-bottom 0.5s ease forwards;
}

.animate-slide-bottom-to-top {
  animation: slide-bottom-to-top 0.5s ease forwards;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.custom-radio input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.custom-radio .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.custom-radio input:checked ~ .checkmark {
  background-color: #d87d4a;
  border: 2px solid #d87d4a;
}
